
.default  {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(121, 170, 170);
    box-shadow: 1px 1px 10px green;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
}

.red {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: red;
    box-shadow: 1px 1px 10px green;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
}