.featuresContainer {
    width: 1008px;
    min-height: 100px;
    margin: 40px auto 25px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;

    .headWithBut {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .titleSpan {
        flex: 1 1 auto;
        font-size: 14px;
        margin: 28px;
    }


    .componentsContainer {
        display: flex;

        .inputPack {
            width: 420px;
        }

        .toggledButtonPack {
            width: 200px;
            margin: 8px 30px 0 30px;
        }

        .rangeSliderContainer {
            margin: 32px 0 0 0;

            .rangeSlider {
                display: flex;

                .rangeSliderValueBox{
                    width: 36px;
                    height: 36px;

                    background: #FFFFFF;
                    border: 1px solid #D9D9D9;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

