.featuresContainer {
    width: 1008px;
    min-height: 100px;
    margin: 40px auto 25px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;


    @media screen and (max-width: 1200px) {
        width: 852px;
    }

    .headWithBut {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
        }
    }

    .componentsContainer {
        display: flex;
        align-items: end;

        .inputPack {
            padding: 0 0 5px 0;

            @media screen and (max-width: 1200px) {
                min-width: 220px;
            }
        }

        .toggledButtonPack {
            width: 200px;
            margin: 8px 30px 0 30px;
        }

        .rangeSliderContainer {
            margin: 32px 0 0 0;

            .rangeSlider {
                display: flex;

                .rangeSliderValueBox {
                    width: 36px;
                    height: 36px;

                    background: #FFFFFF;
                    border: 1px solid #D9D9D9;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .dropFilters {
            margin: 0 0 0 auto;
        }

        .fieldTitle {
            font-size: 14px;
            margin: 0 0 8px 0;
        }
    }
}

