.formContainer {
    width: 413px;
    max-height: 456px;
    margin: 60px auto 0 auto;
    font-family: 'Montserrat';

    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    display: flex;
    flex-direction: column;


    .textField {
        width: 347px;
        height: 72px;
        margin: 0 auto;
        font-family: 'Montserrat';
    }

    .error {
        width: 347px;
        margin: 0 auto;
        display: none;
        font-family: 'Montserrat';
    }

    .textDescription {
        height: 48px;

        margin: 17px 33px 50px 33px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-family: 'Montserrat';


        color: #000000;

        opacity: 0.5;
    }

    .textRemember {
        width: 347px;
        margin: 31px auto 0 auto;

        height: 24px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        font-family: 'Montserrat';

        text-align: center;

        color: #000000;

        opacity: 0.5;
    }
}

.divContainer {
    width: 413px;
    max-height: 456px;
    margin: 60px auto 0 auto;
    font-family: 'Montserrat';

    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    display: flex;
    flex-direction: column;

    .imgContainer {
        width: 108px;
        height: 108px;
        margin: 0 auto;
        border-radius: 50%;
        background: url("../../assets/Group 281.png");
    }

    .divDescription {
        height: 48px;

        margin: 31px auto 41px auto;

        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-family: 'Montserrat';

        color: #000000;

        opacity: 0.5;
    }
}

.textTopLabel {
    width: 308px;
    height: 32px;
    margin: 35px 52px 35px 52px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;

    text-align: center;
    color: #000000;
}

.buttonSend {
    border-radius: 30px !important;
    width: 347px !important;
    height: 36px !important;
    margin: 0 auto !important;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3) !important;
    text-transform: none !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    font-family: 'Montserrat';
}

.formLink {
    margin: 11px auto 42px auto;

    color: #366EFF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: 'Montserrat';

    text-decoration-line: underline;

    a {
        text-decoration: none;
    }
}
